@page "/efcore"
@using SyncFramework.Playground.EfCore;
@using MudBlazor;

<PageTitle>EfCore Demo</PageTitle>

<h1>Server</h1>

<SyncServerComponent deltaStore="@ServerDeltaStore" NodeId="@NodeId" @ref="@serverComponent" />


<MudStack Row="true">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="AddClientNode">Add client node</MudButton>
    <MudCheckBox Label="Generate Random Data" @bind-Checked="@GenerateRandomData" />
    <MudElement>Deltas:@this.DeltaCount</MudElement>
</MudStack>


<MudStack>
    @foreach (var item in this.ClientNodes)
    {
        
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">@item.Id</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Delta count @item.DeltaCount</MudText>
                <MudForm>
                    <MudTextField @bind-Value="@item.PersonName" Label="Blog Name" />
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="@(()=>item.AddPerson(item.PersonName))">Add</MudButton>
                   
                </MudForm>
                <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
                <MudStack Row="true">
                    <MudDataGrid Items="@item.DbContext.Persons" @bind-SelectedItem="@item.SelectedPerson" Hover="true" Striped="true"  Dense="true" MultiSelection="false">
                        <Columns>
                            <PropertyColumn Property="x => x.FirstName" Title="First Name" />
                            <PropertyColumn Property="x => x.LastName" Title="Last Name" />
                        </Columns>
                    </MudDataGrid>
                    <MudDataGrid Items="@item.PhoneNumbers" Hover="true" Striped="true" Dense="true" MultiSelection="false">
                        <Columns>
                            <PropertyColumn Property="x => x.Number" Title="Number" />
                        </Columns>
                    </MudDataGrid>
               </MudStack>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="@(()=>item.Push())">Push deltas</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" OnClick="@(()=>item.Pull())">Pull deltas</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Tertiary" DisableElevation="true">Preview Deltas</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Success" DisableElevation="true" OnClick="@(()=>item.DownloadFile())">Download Databases</MudButton>
            </MudCardActions>
        </MudCard>
    }
    @* <MudPaper Class="pa-3">Item 1</MudPaper>
    <MudPaper Class="pa-3">Item 2</MudPaper>
    <MudPaper Class="pa-3">Item 3</MudPaper> *@
</MudStack>


