@page "/"
@using SyncFramework.Playground.EfCore;
@using MudBlazor;
@inject ISnackbar Snackbar

<PageTitle>EfCore Demo</PageTitle>

<h1>Server</h1>

<MudStack Row="true">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="AddClientNode">Add client node</MudButton>
    <MudCheckBox Label="Generate Random Data" @bind-Checked="@GenerateRandomData" />
</MudStack>

<MudStack Row="true">
    <MudCheckBox Label="Postgres" @bind-Checked="@Postgres" />
    <MudCheckBox Label="MySql" @bind-Checked="@MySql" />
    <MudCheckBox Label="SqlServer" @bind-Checked="@SqlServer" />
</MudStack>
<SyncServerComponent DeltaStore="@ServerDeltaStore" NodeId="@NodeId" @ref="@serverComponent" />




<MudStack>
    @foreach (var item in this.ClientNodes)
    {
        <ClientNodeComponent item="@item"></ClientNodeComponent>
    }
 
</MudStack>

<MudScrollToTop>
    <MudFab Color="Color.Tertiary" Icon="@Icons.Material.Filled.ArrowCircleUp" />
</MudScrollToTop>
