@page "/"
@using SyncFramework.Playground.EfCore;
@using MudBlazor;

<PageTitle>EfCore Demo</PageTitle>

<h1>Server</h1>

<SyncServerComponent deltaStore="@ServerDeltaStore" NodeId="@NodeId" @ref="@serverComponent" />


<MudStack Row="true">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="AddClientNode">Add client node</MudButton>
    <MudCheckBox Label="Generate Random Data" @bind-Checked="@GenerateRandomData" />
    <MudElement>Deltas:@this.DeltaCount</MudElement>
</MudStack>


<MudStack>
    @foreach (var item in this.ClientNodes)
    {
        <ClientNodeComponent item="@item"></ClientNodeComponent>
    }
 
</MudStack>


