@page "/efcore"
@using SyncFramework.Playground.EfCore;
@using MudBlazor;

<PageTitle>EfCore Demo</PageTitle>

<h1>Server</h1>

<SyncServerComponent deltaStore="@ServerDeltaStore" NodeId="@NodeId" @ref="@serverComponent" />
<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="AddClientNode">Add client node</MudButton>
<MudStack>
    @foreach (var item in this.ClientNodes)
    {
        
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">@item.Id</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Delta count @item.DeltaCount</MudText>
                <MudForm>
                    <MudTextField @bind-Value="@item.BlogName" Label="Blog Name" />
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="@(()=>item.AddBlog(item.BlogName))">Add</MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" OnClick="@(()=>item.DownloadFile())">Download Databases</MudButton>
                </MudForm>
                <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
                <MudStack Row="true">
                    <MudDataGrid Items="@item.DbContext.Blogs" @bind-SelectedItem="@item.SelectedBlog" Hover="true" Striped="true"  Dense="true" MultiSelection="false">
                        <Columns>
                            <PropertyColumn Property="x => x.Name" Title="Blog name" />
                        </Columns>
                    </MudDataGrid>
                    <MudDataGrid Items="@item.Posts" Hover="true" Striped="true" Dense="true" MultiSelection="false">
                        <Columns>
                            <PropertyColumn Property="x => x.Title" Title="Blog name" />
                        </Columns>
                    </MudDataGrid>
               </MudStack>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Read More</MudButton>
            </MudCardActions>
        </MudCard>
    }
    @* <MudPaper Class="pa-3">Item 1</MudPaper>
    <MudPaper Class="pa-3">Item 2</MudPaper>
    <MudPaper Class="pa-3">Item 3</MudPaper> *@
</MudStack>


